= form_for(@message) do |f|
  = f.text_area :content, placeholder: "Write your note...", :autofocus => true, class: 'content-input'

  #action-toolbar
    .grid-row
      .thirty
        %input{ type: 'text', placeholder: 'Add a geofence', class: 'pseudo-input' }
        %input{ type: 'text', placeholder: 'Add a password', class: 'pseudo-input' }
      .seventy
        = f.submit 'Create message', class: 'btn btn-primary'