- if @message.errors.any?
  #error_explanation
    %ul
    - @message.errors.full_messages.each do |msg|
      %li= msg

.warning-message
  Don't trust the site yet with mission-critical data. It's a 
  = link_to "work-in-progress", "https://github.com/alainmeier/cryptonote", target: "_blank"
  and learning exercise.

= render 'form'