/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'variables'
@import 'compass'

@include global-reset

*
  @include box-sizing(border-box)

.clearfix
  +clearfix

html
  -webkit-font-smoothing: antialiased 
  font-family: $font-stack 
  height: 100% 

body
  height: 100%
  color: $gray

::selection
  background: lighten($base-color, 40%)

::-moz-selection
  background: lighten($base-color, 40%)

a
  color: $base-color
  text-decoration: none 
  cursor: pointer 
  &:hover
    text-decoration: underline 
  &:active
    color: lighten($base-color, 10%) 
  &.destroy
    color: #800 

.restrict-width
  width: $page-width
  margin: 0 auto

header
  @include background(linear-gradient(top, lighten($base-color, 4%), $base-color) no-repeat $base-color)
  border-bottom: 3px solid darken($base-color, 7%)
  padding: 13px 0
  margin-bottom: 40px
  @include text-shadow(darken($base-color, 8%) 0 2px)
  
  .logo
    width: 16px
    height: 16px
    background: image-url('global-sprite.png') no-repeat
    background-position: 0 0
    float: left
    margin: 4px 5px 0 0

  h1
    float: left
    font-weight: bold
    font-size: 25px
    color: #fff

    a
      color: #fff

      &:hover
        color: lighten($base-color, 45%) 
        text-decoration: none

  h2
    float: right
    padding-top: 6px
    font-size: 17px
    color: lighten($base-color, 40%)

#content
  padding-bottom: 30px

  #message-body
    pre
      font-size: 22px
      text-align: justify
      line-height: 1.5
      padding-bottom: 20px
      word-wrap: break-word

#unencrypted-message
  margin-bottom: 30px

#action-toolbar
  padding: 10px 11px
  margin-bottom: 20px
  width: $page-width
  background-color: #f2f2f2
  @include border-radius(3px)
  border: 1px solid darken(#f2f2f2, 5%)
  @include box-shadow(rgba(255,255,255,0.8) 0 1px inset)
  @include text-shadow(#fff 0 1px)

#warning
  width: 100%
  border: 2px dashed $base-color
  color: $base-color
  margin-bottom: 20px
  padding: 10px 15px
  text-align: center
  font-size: 20px
  @include border-radius(2px)

.message-link
  background-color: #f2f2f2
  border: 1px solid darken(#f2f2f2, 5%)
  padding: 10px 15px
  @include border-radius(2px)
  font-size: 18px
  display: block
  text-align: center
  line-height: 1.4
  cursor: pointer
  @include transition(0.1s linear background-color)

  &:hover
    background-color: darken(#f2f2f2, 3%)

.success-notice, .warning-create
  font-size: 19px
  padding-bottom: 20px
  line-height: 1.4

.create-header
  font-weight: bold
  font-size: 23px
  padding: 20px 0  10px 0

#key, #salt, #advanced-fields
  display: none

.optional-message
  color: #adadad
  padding-bottom: 20px

.pull-right
  float: right

.pull-left
  float: left

footer
  border-top: 1px solid #eee
  padding: 25px 0
  color: lighten($gray, 40%)
  a
    color: lighten($gray, 20%)
    border-bottom: 1px solid lighten($gray, 60%)

    &:hover
      text-decoration: none
      border-bottom: 1px solid lighten($gray, 40%)