/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'variables'
@import 'compass'

@include global-reset

*
  @include box-sizing(border-box)

.clearfix
  +clearfix

html
  -webkit-font-smoothing: antialiased 
  font-family: $font-stack 
  height: 100% 

body
  height: 100%
  color: $gray

a
  color: $base-color
  text-decoration: none 
  cursor: pointer 
  &:hover
    text-decoration: underline 
  &:active
    color: #3f8fa8 
  &.destroy
    color: #800 

.restrict-width
  width: $page-width
  margin: 0 auto

header
  background-color: $base-color
  border-bottom: 3px solid darken($base-color, 5%)
  padding: 10px 0
  margin-bottom: 40px

  h1
    float: left
    font-weight: bold
    font-size: 22px
    color: #fff

  h2
    float: right
    padding-top: 4px
    font-size: 16px
    color: lighten($base-color, 40%)

#content
  #message-body
    p
      font-size: 22px
      text-align: justify
      line-height: 1.5
      padding-bottom: 20px

#action-toolbar
  position: fixed
  bottom: 0
  background-color: #fff
  padding: 20px 0
  width: 100%

#warning
  width: 100%
  border: 2px dashed $base-color
  color: $base-color
  margin-bottom: 20px
  padding: 10px 15px
  text-align: center
  font-size: 20px
  @include border-radius(2px)