@import 'variables'

*
  @include box-sizing(border-box)

.clearfix
  +clearfix

html
  -webkit-font-smoothing: antialiased 
  font-family: $font-stack 
  height: 100% 
  background-color: $background-color

#container
  margin: 50px auto

#message-container
  background-color: #fff
  box-shadow: darken($background-color, 10%) 0 0 3px
  min-height: 600px
  width: 100%
  padding: 50px
  @include border-radius(3px)
  font-size: 16px
  font-family: $font-stack
  color: darken(#8a9ba5, 20%)
  -webkit-font-smoothing: antialiased 
  resize: none
  line-height: 1.5

  pre
    white-space: normal
    word-wrap: break-word

/* -----------------------------------------
 * BODY SKELETON
 * ----------------------------------------- */

.body-skeleton
  @include outer-container
  padding: 0 20px

  .column-row
    @include row

  .columns-four
    @include span-columns(4)

  .columns-five
    @include span-columns(5)

  .columns-six
    @include span-columns(6)

  .columns-seven
    @include span-columns(7)

  .columns-eight
    @include span-columns(8)

  .columns-twelve
    @include span-columns(12)

.pull-left
  float: left

.pull-right
  float: right

/* -----------------------------------------
 * NEW NOTE
 * ----------------------------------------- */

#unencrypted-message
  width: 100%
  border: 0
  outline: 0
  font-size: 16px
  font-family: $font-stack
  color: darken(#8a9ba5, 20%)
  -webkit-font-smoothing: antialiased 
  resize: none
  line-height: 1.5
  height: 100%

#encrypted-message-body
  x-overflow: scroll

#message-button-container
  margin-top: 30px

#container
  font-family: $font-stack

#hidden-fields
  display: none

/* -----------------------------------------
 * BUTTONS
 * ----------------------------------------- */

.btn
  display: inline-block
  color: #fff
  font-weight: bold
  font-size: 16px
  @include border-radius(50px)
  @include background(linear-gradient(top, #788e9b, #6a7e8a))
  border: 0
  -webkit-font-smoothing: antialiased 
  font-family: $font-stack
  cursor: pointer
  padding: 10px 25px
  @include text-shadow(darken(#6a7e8a, 10%) 0 -1px 0)
  @include box-shadow(rgba(255,255,255,0.8) 0 1px 0)
  text-decoration: none
  outline: 0

/* -----------------------------------------
 * WARNING MESSAGE
 * ----------------------------------------- */

#warning
  width: 100%
  font-size: 13px
  text-align: center
  color: darken($background-color, 30%)
  padding-bottom: 30px
  text-shadow: rgba(255,255,255,0.8) 0 1px 0

#homepage-message
  font-size: 13px
  text-align: center
  color: darken($background-color, 30%)
  padding-top: 15px
  text-shadow: rgba(255,255,255,0.8) 0 1px 0

  a
    color: darken($background-color, 40%)

/* -----------------------------------------
 * CREATION CONFIRMATION
 * ----------------------------------------- */

#message-success
  margin-bottom: 40px

  p
    color: darken($background-color, 60%)

  #clippy
    margin-top: 20px
    @include border-radius(2px)
    @include background(linear-gradient(top, $background-color, darken($background-color, 5%)))
    padding: 11px
    text-align: center
    @include text-shadow(rgba(255,255,255,1) 0 1px 0)
    width: 100%
    cursor: pointer
    color: darken($background-color, 50%)
    border: 1px solid darken($background-color, 15%)
    @include box-shadow(rgba(255,255,255,0.9) 0 1px 0)
    font-weight: bold

  #message-link
    background-color: darken($background-color, 3%)
    border: 1px solid darken($background-color, 15%)
    @include box-shadow(rgba(255,255,255,0.9) 0 1px 0)
    @include text-shadow(rgba(255,255,255,1) 0 1px 0)
    padding: 9px 15px
    font-family: "Monaco", "consolas", monospace
    @include border-radius(2px)
    margin-top: 20px
    line-height: 1.5
    overflow: hidden
    color: darken($background-color, 70%)
    word-wrap: none
    white-space: nowrap
    font-size: 12px
    cursor: pointer
    @include box-shadow(rgba(0,0,0,0.05) 0 1px 1px inset)
    @include transition(0.1s linear all)

    &:hover
      background-color: darken($background-color, 5%)
      border: 1px solid darken($background-color, 12%)
      @include transition(0.1s linear all)

  h1
    font-size: 25px
    color: darken($background-color, 40%)
    margin-bottom: 20px